In [5]:
import numpy as np
import pandas as pd

# McCulloch Pits

In [6]:
# let's train our model on OR gate using bipolar input and output

In [9]:
# Create the data points
data = {
    'X1': [-1, -1, 1, 1],
    'X2': [-1, 1, -1, 1],
    'Y':  [-1, -1, -1, 1]
}


df=pd.DataFrame(data)
df

   X1  X2  Y
0  -1  -1 -1
1  -1   1 -1
2   1  -1 -1
3   1   1  1

In [10]:
# initialising the weights
np.random.seed(42)
w1=np.random.uniform(1,-1)
w2=np.random.uniform(1,-1)
b=np.random.uniform(1,-1)

In [12]:
# training the model
predictions=[]
for i in range(len(df)):
    x1=df.loc[i,'X1']
    x2=df.loc[i,'X2']
    y_in=w1*x1+w2*x2+b
    y_pred= 1 if y_in>=0 else 0
    predictions.append(y_pred)